-e git://github.com/django-notifications/django-notifications.git@9f3e0105c2d4bd424f65b33e588070dc6be0c80b#egg=django-notifications-hq
Django==1.9.7
Fabric==1.11.1
Markdown==2.6.6
Pillow==3.2.0
django-anymail==0.3.1
django-mptt==0.8.4
django-registration-redux==1.4
django-taggit==0.19.1
fake-factory==0.5.7
python-social-auth==0.2.19
pytz==2016.4
