.idea {
  margin-top: 30px;
  background: white; 
}

.idea .upvote-widget {
  float: left;
}

.idea .title {
  font-size: 24px;
  font-weight: normal;
  padding: 15px;
  text-decoration: underline;
}

.idea .text {
  padding: 15px;
}

.idea .text p {
  padding: 0 15px;
  margin-top: 29px;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -0.003em;
}
