{% extends 'base.html' %}

{% load staticfiles %}
{% load upvote_widget %}

{% block 'banner-class' %} large-banner {% endblock %}

{% block 'css' %}
    <link rel="stylesheet" href="{% static 'css/frontpage/frontpage.css' %}">
{% endblock %}

{% block 'content' %}
    <div class="pure-g idea-list-selector">
        <div class="pure-u-1-3"><span class="selected">Hot</span></div>
        <div class="pure-u-1-3"><span class="">New</span></div>
        <div class="pure-u-1-3"><span class="">Top</span></div>
    </div>
    <div class="idea-list">
    {% for idea in ideas %}
        <div class="idea box">
            {% upvote_widget idea %}
             <div class="title-wrapper">
                 <a href="{{ idea.get_absolute_url }}">
                     {{ idea.title }}
                 </a>
             </div>
             <div class="details">
                 <div class="created-at">
                     {{ idea.created_at }}
                 </div>
                 <div class="author">
                     by {{ idea.author }}
                 </div>
             </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}
