{% extends 'base.html' %}

{% load staticfiles %}
{% load upvote_widget %}

{% block 'banner-class' %} large-banner {% endblock %}

{% block 'css' %}
    <link rel="stylesheet" href="{% static 'css/frontpage/frontpage.css' %}">
{% endblock %}

{% block 'content' %}
    <div class="idea-list">
    {% for idea in ideas %}
        <div class="idea">
            <div class="upvote-count">
                <span class="number">
                    {{ idea.upvoters.count }}
                </span>
                <span class="text">
                    Upvotes
                </span>
            </div>
             <div class="title-wrapper">
                 <a href="{{ idea.get_absolute_url }}">
                     {{ idea.title }}
                 </a>
             </div>
             <div class="author">
                 by {{ idea.author }}
             </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}
