{% extends 'base.html' %}

{% load staticfiles %}
{% load humanize %}
{% load idea_list %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/idea/idealist.css' %}">
{% endblock %}

{% block content %}

    {% if moderator_sites %}
    <div class="moderator">
      Moderator for:

      {% for site_settings in moderator_sites %}
          <div class="site">
              <a href="//{{ site_settings.site.domain }}">
                  {{ site_settings.site.name }}
              </a>
          </div>
      {% endfor %}
    </div>
    {% endif %}

  Ideas submitted by {{ user.username }}:

  {% idea_list ideas 1 request.user %}

{% endblock %}
