{% extends 'base.html' %}

{% block css %}
{% endblock %}

{% block content %}

    <form
        class="pure-form pure-form-stacked wide-form login-form"
        method="POST"
        action=""
        >

        {% if form.non_field_errors %}
            <div class="form-error">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <fieldset>
            {% csrf_token %}
            <div class="{%if form.new_password1.errors %} form-error {% endif %}">
                <input
                    type="password"
                    name="new_password1"
                    placeholder="New password"
                    />
                {{ form.new_password1.errors }}
            </div>
            <div class="{%if form.new_password2.errors %} form-error {% endif %}">
                <input
                    type="password"
                    name="new_password2"
                    placeholder="New password (again)"
                    />
                {{ form.new_password1.errors }}
            </div>
            <input
                type="submit"
                class="pure-button pure-button-primary"
                value="Change my password"
                />
        </fieldset>
    </form>

{% endblock %}
