{% extends 'base.html' %}

{% block css %}
{% endblock %}

{% block content %}

    <form
        class="pure-form pure-form-stacked wide-form login-form"
        method="POST"
        action=""
        >

        {% if form.non_field_errors %}
            <div class="form-error">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <fieldset>
            {% csrf_token %}
            <div class="{%if form.email.errors %} form-error {% endif %}">
                <input
                    type="email"
                    name="email"
                    placeholder="Email"
                    {% if form.email.value %}
                        value="{{ form.email.value }}"
                    {% endif %}
                    />
                {{ form.email.errors }}
            </div>
            <input
                type="submit"
                class="pure-button pure-button-primary"
                value="Reset my password"
                />
        </fieldset>
    </form>

{% endblock %}
