{% extends 'base.html' %}

{% block css %}
{% endblock %}

{% block content %}

    <form
        class="pure-form pure-form-stacked wide-form login-form"
        method="POST"
        action=""
        >

        {% if form.non_field_errors %}
            <div class="form-error">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <fieldset>
            {% csrf_token %}
            <div class="{%if form.username.errors %} form-error {% endif %}">
                <input
                    type="text"
                    name="username"
                    placeholder="Username"
                    {% if form.username.value %}
                        value="{{ form.username.value }}"
                    {% endif %}
                    />
                    {{ form.username.errors }}
            </div>
            <div class="{%if form.email.errors %} form-error {% endif %}">
                <input
                    type="email"
                    name="email"
                    placeholder="Email"
                    {% if form.email.value %}
                        value="{{ form.email.value }}"
                    {% endif %}
                    />
                    {{ form.email.errors }}
            </div>
            <div class="{%if form.password1.errors %} form-error {% endif %}">
                <input
                    type="password"
                    name="password1"
                    placeholder="Password"
                    {% if form.password1.value %}
                        value="{{ form.password1.value }}"
                    {% endif %}
                    />
                    {{ form.password1.errors }}
            </div>
            <div class="{%if form.password2.errors %} form-error {% endif %}">
                <input
                    type="password"
                    name="password2"
                    placeholder="Password (again)"
                    {% if form.password2.value %}
                        value="{{ form.password2.value }}"
                    {% endif %}
                    />
                    {{ form.password2.errors }}
            </div>
            <input
                type="submit"
                class="pure-button pure-button-primary"
                value="Register"
                />

            <p style="text-align: center">or</p>
            <a
                href="/social/login/reddit/"
                class="pure-button"
                style="width: 100%"
                >
                Log in with reddit
            </a>
        </fieldset>
    </form>

{% endblock %}
