{% extends 'base.html' %}

{% load staticfiles %}
{% load upvote_widget %}
{% load humanize %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/idea/idea.css' %}">
{% endblock %}

{% block content %}

  <div class="idea box">

    <div class="idea-header">
        <div class="upvote-widget-wrapper">
            {% upvote_widget idea request.user %}
        </div>

        <h2 class="title">{{ idea.title }}</h2>
    </div>

    <div class="text">
      {{ idea.get_rendered_text | safe }}
    </div>

     <div class="details">
         <div class="tags">
             {% for tag in idea.tags.all %}
                 <div class="tag">{{ tag }}</div>
             {% endfor %}
         </div>
         <span class="created-at">
             {{ idea.created_at | naturaltime }}
         </span>
         <span class="author">
             by {{ idea.author }}.
         </span>
         <span class="comment-count">
         {{ idea.comment_count }} comment{{ idea.comment_count | pluralize }}.
         </span>
     </div>
  </div>

  {% load mptt_tags %}

  <div class="comment-container">

        <div class="reply-form-container">
            <div class="reply-button-container" style="margin-left: 15px">
                <a href>Add comment</a>
            </div>
            <div class="reply-form">
                <form class="pure-form" method="POST" action="/comments/">
                    <fieldset>
                    <input type="hidden" name="idea" value="{{ idea.id }}" />
                    <textarea name="text"></textarea>
                    <input type="submit" value="Save" class="pure-button" />
                    </fieldset>
                </form>
            </div>
        </div>

      {% recursetree comments %}
      <div
          class="comment"
          >
        <div class="collapsible-container">
            <a href class="collapse-thread">[-]</a>
                <div class="collapsible" style="display: none">
                    <span class="author">{{ node.author }}</span>
                </div>
                <div class="collapsible">
                <span class="author">{{ node.author }}:</span>
                {{ node.text }}
                <div class="reply-form-container">
                    <div class="reply-button-container">
                        <a href>Reply</a>
                         <div class="details">
                             {{ idea.created_at | naturaltime }}
                         </div>
                    </div>
                    <div class="reply-form">
                        <form class="pure-form" method="POST" action="/comments/">
                            <fieldset>
                            <input type="hidden" name="parent" value="{{ node.id }}" />
                            <textarea name="text"></textarea>
                            <input type="submit" value="Save" class="pure-button" />
                            </fieldset>
                        </form>
                    </div>
                </div>

                {% if not node.is_leaf_node %}
                  {{ children }}
                {% endif %}
            </div>
        </div>
      </div>
      {% endrecursetree %}
  </div>

{% endblock %}
