{% extends 'base.html' %}

{% load staticfiles %}
{% load upvote_widget %}

{% block banner_class %} large-banner {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/idea/idealist.css' %}">
{% endblock %}

{% block content %}
    <div class="pure-g idea-list-selector">
        <div class="pure-u-1-3">
            <a href="/" class="
                {% if ordering == 'hot' %} selected {% endif %}
                ">
                Hot
            </a>
        </div>
        <div class="pure-u-1-3">
            <a href="/new" class="
                {% if ordering == 'new' %} selected {% endif %}
                ">
                New
            </a>
        </div>
        <div class="pure-u-1-3">
            <a href="/top" class="
                {% if ordering == 'top' %} selected {% endif %}
                ">
                Top
            </a>
        </div>
    </div>
    <div class="idea-list">
    {% for idea in ideas_page %}
        <div class="idea box">
            {% upvote_widget idea request.user %}
             <div class="title-wrapper">
                 <a href="{{ idea.get_absolute_url }}">
                     {{ idea.title }}
                 </a>
             </div>
             <div class="details">
                 <span class="created-at">
                     {{ idea.created_at }}
                 </span>
                 <span class="author">
                     by {{ idea.author }}
                 </span>
             </div>
        </div>
    {% endfor %}

    {% if ideas_page.has_previous %}
        <a
            style="float: left"
            href="/{{ ordering }}/{{ ideas_page.previous_page_number }}"
            >
            Previous
        </a>
    {% endif %}

    {{ ideas_page.page_number }}

    {% if ideas_page.has_next %}
        <a
            style="float: right"
            href="/{{ ordering }}/{{ ideas_page.next_page_number }}"
            >
            Next
        </a>
    {% endif %}
    </div>

{% endblock %}
