{% extends 'base.html' %}

{% load staticfiles %}
{% load idea_list %}

{% block banner_class %} large-banner {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/idea/idealist.css' %}">
{% endblock %}

{% block content %}

    <div class="idea-input">
        <form
            class="pure-form"
            method="POST"
            action="/ideas/new"
            >
            <fieldset>
                <input
                    type="hidden"
                    name="nosave"
                    value="nosave"
                    />
                <label>
                    Share your idea!
                <input
                    name="title"
                    type="text"
                    placeholder="It would be awesome if..."
                    />
                </label>
            </fieldset>
        </form>
    </div>

    <div class="pure-g idea-list-selector">
        <div class="pure-u-1-4">
            <a href="/" class="
                {% if ordering == 'hot' %} selected {% endif %}
                ">
                Hot
            </a>
        </div>
        <div class="pure-u-1-4">
            <a href="/new" class="
                {% if ordering == 'new' %} selected {% endif %}
                ">
                New
            </a>
        </div>
        <div class="pure-u-1-4">
            <a href="/top" class="
                {% if ordering == 'top' %} selected {% endif %}
                ">
                Top
            </a>
        </div>
        <div class="pure-u-1-4">
            <a href="/search/" class="
                {% if ordering == 'search' %} selected {% endif %}
                ">
                Search
            </a>
        </div>
    </div>

    {% idea_list ideas page request.user paging_url_prefix %}

{% endblock %}
