{% extends 'base.html' %}

{% load staticfiles %}
{% load upvote_widget %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/idea/idea.css' %}">
{% endblock %}

{% block content %}

  <div class="idea box">

    {% upvote_widget idea request.user %}

    <h2 class="title">{{ idea.title }}</h2>

    <div class="text">
      {{ idea.get_rendered_text | safe }}
    </div>
  </div>

  {% load mptt_tags %}

  <div class="comment-container">

        <div class="reply-form-container">
            <div class="reply-button-container" style="margin-left: 15px">
                <a href>Add comment</a>
            </div>
            <div class="reply-form">
                <form class="pure-form">
                    <fieldset>
                    <input type="hidden" name="idea" value="{{ idea.slug_id }}" />
                    <textarea name="text"></textarea>
                    <input type="submit" value="Save" class="pure-button" />
                    </fieldset>
                </form>
            </div>
        </div>

      {% recursetree comments %}
      <div
          class="comment"
          >
        <a href="/user/{{ node.author }}">{{ node.author }}</a>
        {{ node.text }}

        <div class="reply-form-container">
            <div class="reply-button-container">
                <a href>Reply</a>
            </div>
            <div class="reply-form">
                <form class="pure-form">
                    <fieldset>
                    <input type="hidden" name="idea" value="{{ idea.slug_id }}" />
                    <textarea name="text"></textarea>
                    <input type="submit" value="Save" class="pure-button" />
                    </fieldset>
                </form>
            </div>
        </div>

        {% if not node.is_leaf_node %}
          {{ children }}
        {% endif %}
      </div>
      {% endrecursetree %}
  </div>

{% endblock %}
