{% extends 'base.html' %}

{% load staticfiles %}
{% load upvote_widget %}
{% load humanize %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/idea/idea.css' %}">
{% endblock %}

{% block content %}

  <div class="idea box">

    {% if idea.archived %}
        <div class="archived-banner">
            <div class="text">
                Archived
            </div>
        </div>
    {% endif %}

    <div class="idea-header">
        <div class="upvote-widget-wrapper">
            {% upvote_widget idea request.user %}
        </div>

        <h2 class="title">{{ idea.title }}</h2>
    </div>

    <div class="text">
      {{ idea.get_rendered_text | safe }}
    </div>

     <div class="details">
         <div class="tags">
             {% if IS_MODERATOR %}
             <form
                 action="/ideas/{{ idea.slug_id }}/tags"
                 method="POST"
                 >
                 <input
                     class="tag-editor"
                     name="tags"
                     value="{{ idea.tags.names | join:',' }}"
                     >
             </form>
             {% else %}
                 {% for tag in idea.tags.all %}
                     <div class="tag">{{ tag }}</div>
                 {% endfor %}
             {% endif %}
         </div>
         <span class="created-at">
             {{ idea.created_at | naturaltime }}
         </span>
         <span class="author">
             by {{ idea.author }}.
         </span>
         <span class="comment-count">
         {{ idea.comment_count }} comment{{ idea.comment_count | pluralize }}.
         </span>
     </div>
  </div>
  <div class="action-toolbar reply-form-container">
      {% if request.user == idea.author %}
          <a
              class="edit-idea-link"
              href="/ideas/{{ idea.slug_id }}/edit"
              >
            Edit
          </a>
      {% endif %}

    <div class="reply-button-container" style="margin-left: 15px; float:left">
        <a href class="toggle-reply-form">Add comment</a>

    </div>
    <div class="reply-form" style="clear: both">
        <form class="pure-form" method="POST" action="/comments/">
            <fieldset>
            <input type="hidden" name="idea" value="{{ idea.id }}" />
            <textarea name="text"></textarea>
            <input type="submit" value="Save" class="pure-button pure-button-primary" />
            </fieldset>
        </form>
    </div>
  </div>

  {% load mptt_tags %}

  <div class="comment-container">

      {% recursetree comments %}
      <div
          class="comment"
          >
        <div class="collapsible-container">
            <a href class="collapse-thread">[-]</a>
                <div class="collapsible" style="display: none">
                    <span class="author">{{ node.author }}</span>
                </div>
                <div class="collapsible">
                <span class="author">{{ node.author }}:</span>
                {{ node.get_rendered_text | safe }}
                <div class="reply-form-container">
                    <div class="reply-button-container">
                        <a href class="toggle-reply-form">Reply</a>
                         <div class="details">
                             {{ node.created_at | naturaltime }}
                         </div>
                    </div>
                    <div class="reply-form">
                        <form class="pure-form" method="POST" action="/comments/">
                            <fieldset>
                            <input type="hidden" name="parent" value="{{ node.id }}" />
                            <textarea name="text"></textarea>
                            <input type="submit" value="Save" class="pure-button" />
                            </fieldset>
                        </form>
                    </div>
                </div>

                {% if not node.is_leaf_node %}
                  {{ children }}
                {% endif %}
            </div>
        </div>
      </div>
      {% endrecursetree %}
  </div>

{% endblock %}
