{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block 'title' %}
        Untitled  
      {% endblock %}
      :: IdeaX
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/pure-min.css' %}">
    <link rel="stylesheet" href="{% static 'css/grids-responsive-min.css' %}">
    <link rel="stylesheet" href="{% static 'css/master.css' %}">
    {% block 'css' %}
    {% endblock %}
    <script 
      src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"
    >
    </script>
    <script src="{% static 'js/upvote_widget.js' %}"></script>
  </head>
  <body>
      <div class="banner {% block 'banner-class' %}{% endblock %}">
      <h1>
        <a href="/">
          Site Name
        </a>
      </h1>
    </div>
    <div class="content">
      {% block 'content' %}
      {% endblock %}
    </div>
  </body>
</html>
