{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %}
          {{ request.site.name }}
      {% endblock %}
      :: ideavote.co
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/pure-min.css' %}">
    <link rel="stylesheet" href="{% static 'css/grids-responsive-min.css' %}">
    <link rel="stylesheet" href="{% static 'css/master.css' %}">
    {% block css %}
    {% endblock %}
    <script 
      src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"
    >
    </script>
    <script src="{% static 'js/upvote_widget.js' %}"></script>
    <script src="{% static 'js/comments.js' %}"></script>
  </head>
  <body>
      <div
          class="banner {% block banner_class %}{% endblock %}"
          style="background-image:
                 url('{{ request.site_settings.banner_image.url }}')"
          >
      <h1>
        <a href="/">
          {{ request.site.name }}
        </a>
      </h1>

      <div class="menu">
        {% if request.user.is_authenticated %}
            <a class="username">
                {{ request.user }}
            </a>
            <a href="/accounts/logout/?next=/" class="pure-button">
              Log out
            </a>
        {% else %}
            <a href="/accounts/register/" class="pure-button">
              Register
            </a>
            <a href="/accounts/login/" class="pure-button">
              Log in
            </a>
        {% endif %}
      </div>
    </div>
    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
