.idea-list-selector {
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
}

.idea-list-selector .selected {
  font-weight: bold;
  border-bottom: 2px solid black;
}

.idea {
  margin: 20px 0;
  height: 100px;
}

.idea .title-wrapper {
  display: inline-block;
  width: calc(100% - 130px);
  height: 80px;
  line-height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px 10px 20px 10px;
  font-size: 24px;
}

.idea .author {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 12px;
}
